* {
  background-color: #dbd0c5;
  box-sizing: border-box;
  font-family: system-ui; /*times*/
}
main {
  margin: 15px;
}
ul {
  list-style: none;
}

.h1web, .h1ux, .h1animation, .h1indhold {
  color: #d3b4ab;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.læring {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #d3b4ab;
}

nav a {
  color: #847a73;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  float: left;
  padding: 30px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  padding-bottom: 20px;
}

.rosa,
.dolleris,
.portofolio {
  color: #eeeeee;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.CV {
  text-align: center;
  color: #d3b4ab;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.portofolio,
.Kompetencer {
  animation: colorAndMove 20s infinite;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.h1container {
  max-width: 100%;
}

.h1projekter {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.tekstom {
  font-size: medium;
  padding-bottom: 20px;
}

.temaer2,
.temaer3,
.temaer4,
.temaer5 {
  color: #847a73;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* body {
  margin-bottom: 0 auto;
  padding: 0 auto;
  overflow-x: hidden;
  box-sizing: border-box;
} */

header {
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #847a73;
  font-weight: bold;
}

nav ul li a:hover {
  color: #eeeeee;
}

.container {
  display: grid;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1 / span 5;
  padding-top: 20px;
  padding-bottom: 100px;
}

.projekt-billede img {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
}

.projekt-billede img:hover {
  filter: brightness(1);
}

.portræt {
  max-width: 410px;
  height: auto;
  border: white 2px solid;
}

/* .arm {
  max-width: 200px;
  transform: translate(-50%, 65%);
  top: 70%;
  left: 30%;
  display: block;
  border: white 2px solid;
} */

.rosa {
  text-align: left;
}

.dolleris {
  text-align: center;
}

.portofolio {
  text-align: right;
  color: #d3b4ab;
}

a.projekter {
  text-decoration: none;
  color: #d3b4ab;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  padding: 3px;
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin: auto;
  background-color: black;
  border-radius: 15px;
  border: 2px solid #847a73;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.kompetencer-list {
  list-style-type: disc;
  font-size: medium;
  line-height: 1.5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.kompetencer {
  text-align: center;
}

a.projekter:hover {
  color: #d3b4ab;
  border: 2px solid #d3b4ab;
}

.container-om {
  margin: 0 auto;
  max-width:350px;
}
.closeup {
  max-width: 100%;
  border: white 2px solid;
}

.projekterrække {
  text-align: center;
  font-size: smaller;
  color: #d3b4ab;
  font-weight: bold;
}

.forsidep {
  font-size: 1rem;
  padding: 5px;
  background-color: #847a73;
  border-radius: 5px;
  padding: 1em;
}
.dolleris {
  text-align: center;
}

.portofolio {
  text-align: right;
  color: #d3b4ab;
}

.projekt-billede img {
  width: 80%;
  margin-left: 2em;
}

.fadeText {
  font-size: medium;
}

.grid_1-1_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.billede1,
  .billede2,
  .billede3,
  .billede4,
  .billede5,
  .billede6,
  .billede7,
  .billede8 {
    width: 100%;
  }

@media (min-width: 900px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
  }

  .grid_1-1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
  }

  .grid_2_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
  }

  .grid_1-1_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 17em;
  }

  .flex_col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em;
  }



  .læring {
    margin-left: 8em;
    text-align: center;
  }

  .fadeText {
    padding: 1em;
    margin-top: -20px;
    font-size: medium;
  }
  
  .CV {
    text-align: center;
  }

  .text-container {
    grid-column: 1/5;
    display: grid;
  }

  .projekterrække {
    margin-right: 20em;
  }

  /*flex element*/
  .image-container {
    position: relative;
    grid-column: 6/10;
    justify-content: flex-start;
    height: auto;
    align-self: center;
  }

  .billede1,
  .billede2,
  .billede3,
  .billede4,
  .billede5,
  .billede6,
  .billede7,
  .billede8 {
    margin-left: 15%;
    width: 80%;
  }

  .projekterrække {
    font-size: larger;
    color: #d3b4ab;
    margin-left: 30%;
    font-weight: bold;
  }

  p {
    text-align: left;
    margin: 5px 0;
  }

  .closeup {
    max-width: 400px;
    height: auto;
    margin-top: 2em;
  }

  .h1container {
    display: grid;
    gap: 30px;
  }

  .projekt-billede img {
    grid-template-columns: 5fr 5fr;
    height: auto;
    filter: grayscale(100%);
    margin-left: 3em;
  }

  .projekt-billede img:hover {
    filter: brightness(1);
  }

  .forsidep {
    font-size: 1rem;
    margin-top: 5em;
    padding: 2.3em;
  }

  /* .forsidepp {
    font-size: x-large;
    font-weight: bold;
  } */

  .rosa {
    grid-column: 1;
    font-size: 2.3rem;
  }
  .overskrift {
    display: grid;
    margin: 0;
  }

  .dolleris {
    grid-column: 2;
    grid-row: 2;
    font-size: 2.3rem;
  }

  .portofolio {
    grid-column: 3;
    grid-row: 3;
    font-size: 2.3rem;
    
  }

 
}
